@model IEnumerable<Job_Offers.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>مرحبا بك عزيزي الزائر</h1>
    <p class="lead">مرحبا بك في موقع الوظائف لنشر و التقديم في الوظائف</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">المزيد من التفاصيل &raquo;</a></p>
</div>

<div class="panel panel-default" style="padding:30px">
    @foreach (var item in Model)
    {
        <h3 class="panel-heading">@Html.DisplayFor(modelItem => item.CategoryName)</h3>
        <h5>@Html.DisplayFor(modelItem => item.CategoryDescription)</h5>

        <div class="row">
            @foreach (var subitem in item.Jobss)
            {

                <div class="col-md-3 thumbnail" style="margin-left:20px; margin-bottom:30px; height:auto;">
                    <img src="~/Uploads/@subitem.JobImage" style="height:230px" />
                    <h3>@Html.DisplayFor(modelItem => subitem.JobTitle)</h3>
                    <h5>@Html.DisplayFor(modelItem => subitem.JibContent)</h5>
                    <button class="btn btn-primary">التفاصيل</button>
                </div>

            }
        </div>
    }
</div>